h1{
    color: blueviolet;
    font-size: 64px;  
}
h3{
    color: white;
    font-size: 37px;
}
h2{
    color: white;
}
h4{
    color: white;
}
h5{
    color: white;
}

body{
    background-color: rgb(12, 12, 12);
    font-family: 'Montserrat', sans-serif;
    color: #F2CD5C;
}

.landing{
    background-image: : url(parallax.png) linear-gradient(20, 30, 2, 4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.landing nav{
    display: flex;
    justify-content: right;
    margin-top: 100px;
    align-items: top;
    height: 100vh;
}
.ukiyo{
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
  gap: 32px;
}
.about{
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    width: 40%;
    font-size: 25px;
}
.about img{
    width: 80%;
    margin-right: 100px;
    border-radius: 30px;
    border-style:groove;
    border-color: white;
}

.about p{
    text-align: left;
    margin-left: 100px;
    justify-content: left;
    font-size: 25px;
}
.about h2{
    text-align: left;
    margin-left: 100px;
}


.myProjects{
    display: flex;
    border-radius: 15px;
    font-size: 22px;
    gap: 180px;
    justify-content: center;
}


.mySkills h2{
    margin-left: 860px;
    font-size: 43px;
}
.skill{
    font-size: 30px;
    text-align: left;
    margin-left: -60px;
    margin-top: -10px;
    list-style: none;
    color: #ff4769;
}
.edhead{
    font-size: 30px;
    margin-left: 200px;
}
.myEducation{
    text-align: left;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 270px;
    margin-right: 100px;

}
.myEducation h2{
    margin-left: 40px;
}
.wrap {
    width: 200px;
    height: 60px;
    position: relative;
    display: inline-block;
}
  
.edu{
    color: lightskyblue;
    font-size: 30px;
    list-style: none;
    width: 100%;
}

.wrapper{
    margin-left: 12%;
    display: inline-flex;
    align-items: center;
}
.wrapper .dynamic{
    height: 90px;
    line-height: 90px;
    overflow: hidden;
    margin-left: -20px;
}
.dynamic li{
    color: #ff4769;
    position: relative;
    top: 0;
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    animation: slide 6s steps(4) infinite;

}


@keyframes slide {
    100%{
       top: -360px;
    }
}
.dynamic li span{
    position: relative;
}
.dynamic li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(12, 12, 12);
    border-left: 5px solid #ff4769;
    animation: typing 1.5s steps(50) infinite;
}

@keyframes typing {
    40%,60%{
        left: calc(100% + 5px);
    }
    100%{
        left: 0%;
    }
}

.contactMe a{
    text-decoration: none;
    color: #ff4769;
}
.static{
    color: white;
    font-size: 60px;
    font-weight: 400;
}
.dynamic{
    color: #ff4769;
    list-style: none;
    font-size: 60px;
    font-weight: 500;
}
.Project{
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    width: 20%;
    background-color: darkorchid;
    height: 20vh;
    list-style: none;
    transform-style: preserve-3d;
    will-change: transform;
    transition: .5s;
}

.Project a{
    text-decoration: none;
    color: white;
    
}
.contactMe{
    text-align: center;
    font-size: 25px;
}

.contactMe p{
    color: lightgreen;
}
.Project:hover{
    background-color: rgb(255, 210, 95);
    transform: translateZ(10px) rotateX(20deg) rotateY(20deg);
}


.circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left: 15%;
    transform-origin: 50%;
    animation: circle7124 .5s alternate infinite ease;
}
  
  @keyframes circle7124 {
    0% {
      top: 60px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }
  
    40% {
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
    }
  
    100% {
      top: 0%;
    }
}
  
  .circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
}
  
  .circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}
  
  .shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow046 .5s alternate infinite ease;
}
  
  @keyframes shadow046 {
    0% {
      transform: scaleX(1.5);
}
  
    40% {
      transform: scaleX(1);
      opacity: .7;
}
  
    100% {
      transform: scaleX(.2);
      opacity: .4;
    }
}
  
  .shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
}
  
  .shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}
  
.projecthead h2{
    text-align: center;
    font-size: 36px;
}
#parallax {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image:url(parallax.png),
    url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-2.png),
    url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 50%;
    background-size:cover;

}

nav{
    display: flex;
    justify-content: right;
    
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    font-size: 13px;
    list-style: none;
    display: inline-block;
    padding: 0px 12px;
    position: relative;
    
    
}

.nav-links ul li a{
    text-decoration: none;
    font-size: 13 px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: red;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    content: '';
    width: 100%;
    height: 2px;
    background: blueviolet;
    display: block;
    margin: auto;
}
